<!DOCTYPE html>
<html>
   <body>
     <table border = 1>
     	<thead>
     		<td>School Name</td>
            <td>Standard & Division</td>
            <td>Name Of Student</td>
            <td>Roll Number</td>
            <td>Centre code</td>
            <td>Gender</td>
            <td>Date of birth</td>
            <td>Age</td>
            <td>Vaccination</td>
            <td>Recent Illness</td>
            <td>Frequency of falling sick</td>
            <td>Type of food</td>  
            <td>Number of meals per day</td>
            <td>Frequency of intake of junk food per week</td>
            <td>Daily Water Intake(Number Of Glasses)</td>
            <td>Morning Breakfast</td>
            <td>Lunch</td>
            <td>Evening Snacks</td>
            <td>Dinner</td>
            <td>Height</td>
            <td>Weight</td>
            <td>Pulse Rate</td>
            <td>Respiratory Rate</td>
            <td>Systemic examination</td>
            <td>Systemic examination</td>
            <td>Tonsillitis</td>
            <td>Physiological Issue</td>
            <td>Physiological Issue</td>
            <td>Paediatrician's remark</td>
            <td>Paediatrician's consulting</td>
            <td>Dietary assessment</td>
            <td>Dietary assessment</td>
            <td>Nutritional remark</td>
            <td>Nutritional remark</td>
            <td>Requires further diet consulting</td>
            <td>Diet remarks</td>
            <td>Oral habits</td>
            <td>Oral habits</td>
            <td>Decayed teeth</td>
            <td>Filled teeth</td>
            <td>Missing teeth</td>
            <td>Dental Issue</td>
            <td>Dental Issue</td>
            <td>Pedodontist consulting</td>
            <td>Dental remark</td>
            <td>Wears glasses</td>
            <td>Water from eyes</td>
            <td>Left colour perception</td>
            <td>Right colour perception</td>
            <td>Left eye vision acuity</td>
            <td>Right eye vision acuity</td>
            <td>Opthal remarks</td>
            <td>Opthalmologist consulting</td>
            <td>Eye contact</td>
            <td>Anxiety levels</td>
            <td>Gets frequently angry</td>
            <td>Hyperactive</td>
            <td>Communication type</td>
            <td>Psychological assessment</td>
            <td>Psychological assessment</td>
            <td>Psychological assessment</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>                        
               <td>{{row[2]}}</td> 
               <td>{{row[3]}}</td> 
               <td>{{row[4]}}</td> 
               <td>{{row[5]}}</td> 
               <td>{{row[6]}}</td> 
               <td>{{row[7]}}</td> 
               <td>{{row[8]}}</td>              
               <td>{{row[9]}}</td>             
               <td>{{row[10]}}</td>                
               <td>{{row[11]}}</td> 
               <td>{{row[12]}}</td>                
               <td>{{row[13]}}</td>           
               <td>{{row[14]}}</td>              
               <td>{{row[15]}}</td>
               <td>{{row[16]}}</td>             
               <td>{{row[17]}}</td>
               <td>{{row[18]}}</td>	
               <td>{{row[19]}}</td>
               <td>{{row[20]}}</td>
               <td>{{row[21]}}</td>
               <td>{{row[22]}}</td>
               <td>{{row[23]}}</td>
               <td>{{row[24]}}</td>
               <td>{{row[25]}}</td>
               <td>{{row[26]}}</td>	
               <td>{{row[27]}}</td>
               <td>{{row[28]}}</td>
               <td>{{row[29]}}</td>
               <td>{{row[30]}}</td>
               <td>{{row[31]}}</td>
               <td>{{row[32]}}</td>	
               <td>{{row[33]}}</td>
               <td>{{row[34]}}</td>
               <td>{{row[35]}}</td>
               <td>{{row[36]}}</td>
               <td>{{row[37]}}</td>
               <td>{{row[38]}}</td>
               <td>{{row[39]}}</td>
               <td>{{row[40]}}</td>	
               <td>{{row[41]}}</td>
               <td>{{row[42]}}</td>
               <td>{{row[43]}}</td>
               <td>{{row[44]}}</td>
               <td>{{row[45]}}</td>
               <td>{{row[46]}}</td>
               <td>{{row[47]}}</td>
               <td>{{row[48]}}</td>
               <td>{{row[49]}}</td>
               <td>{{row[50]}}</td>	
               <td>{{row[51]}}</td>
               <td>{{row[52]}}</td>
               <td>{{row[53]}}</td>
               <td>{{row[54]}}</td>	
               <td>{{row[55]}}</td>
               <td>{{row[56]}}</td>	
               <td>{{row[57]}}</td>
               <td>{{row[58]}}</td>
               <td>{{row[59]}}</td>
               <td>{{row[60]}}</td>				
               <td>{{row[61]}}</td>	
               <td>{{row[62]}}</td>									
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
   </body>
</html>
        